
.fa.fg-grey {
	color: grey;
}
.popup_selection, .addpartner, .addparents, .delete, .settings {
	cursor: pointer;
}
.addsibling, .addchild {
	cursor: default;
}
.pe-2 { padding-right: 0.75em; }
.me-1 { margin-right: 0.5em; }
.btnm { margin-right: 0.75em; margin-left: 0.75em;}
svg {overflow:hidden}
